body {
    text-align: center;
}

#resultID {
    width: 100px;
}

button {
    border-width: 0;
    border-radius: 5px;
    background-color: rgb(255, 163, 26);
    color: rgb(27, 27, 27);
    margin: 2px;
    padding: 10px;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(255, 191, 96);
}

button:active  {
    background-color: rgb(197, 141, 57);
}